html {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: prestige-elite-std, monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9e8de;
    overflow-x: hidden;
    overflow-y: hidden;
}
