html {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    max-width: 1600px;
    margin: auto;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9e8de;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: roc-grotesk-extrawide, sans-serif;
}
